{% extends "base_template.html" %} {% block title %}
<title>Welcome</title>
{% endblock %} {% block content %}

{% if alert_message.status == "success" %}
<div class="alert alert-success" role="alert">
  {{ alert_message.message }}
</div>
{% endif %} {% if alert_message.status == "fail" %}
<div class="alert alert-danger" role="alert">
  {{ alert_message.message }}
</div>
{% endif %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="text-center">
    <h1>Zen ATM</h1>



    <form action="{{ url_for('show') }}" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter Your Username"
          required
        />
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-success bi bi-info-circle"> Check the Balance</button>
      </div>
    </form>
    <div>
      <a href="{{ url_for('register') }}" class="btn btn-primary bi bi-person"
        > Create Accout</a
      >
    </div>
    {% endblock %}
  </div>
  <!-- Alert Messages -->
</div>
