{% extends "base_template.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}

{% if alert_message.status %}
<div class="alert alert-{{ 'success' if alert_message.status == 'success' else 'danger' }}">
    {{ alert_message.message }}
</div>
{% endif %}

<h1 class="mb-3 mt-3">Register</h1>

<!-- test text -->
<form action="{{ url_for('create') }}" method="post">
  

  <div class="mb-3">
    <label for="account_number" class="form-label">Your Accout Number</label>
    <input type="text" class="form-control" id="account_number" name="account_number" value="{{ account_number }}" readonly>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Your Username" required>
  </div>

  <div class="mb-3">
    <label for="balance" class="form-label">Your Balance</label>
    <input type="number" class="form-control" id="balance" name="balance" step="0.01" min="0" max="1000000" placeholder="Your Balance">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
{% endblock %}
