{% extends "base_template.html" %}

{% block title %}
    <title>Withdraw</title>
{% endblock %}

{% block content %}
<h1>Withdraw</h1>

<!-- test text -->
<form action="{{ url_for('update_withdraw', user_id = results.id) }}" method="post">
  <div class="mb-3">
    <label for="account_number" class="form-label">Your Accout Number</label>
    <input type="text" class="form-control" id="account_number" name="account_number" value="{{ results.account_number }}" disabled>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" disabled value="{{ results.username }}">
  </div>

  <div class="mb-3">
    <label for="old_balance" class="form-label">Your Balance</label>
    <input type="number" class="form-control" id="old_balance" name="old_balance" step="0.01" min="0" value="{{ results.balance }}"disabled>
  </div>

  <div class="mb-3">
    <label for="balance" class="form-label">Withdraw</label>
    <input type="number" class="form-control" id="balance" name="balance" step="0.01" min="0">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-warning">Withdraw</button>
  </div>

</form>
{% endblock %}
